doctype html
html
   head
      title happy face
      link(href='css/main.css', rel='stylesheet', type='text/css')
   body
   
   
      //Delete this junk code and start form the sketch..........
      div.landing
         h1 Pro<span>thom P</span>age!!!
         p 
            | Ki moja...notun page toiri hoye gache. 
            br
            | Eibar kopaya web-design koro....... 
            br
            | Shuvokamona roilo....
   
      //Dont delete this line of code.
      script(src='js/main.js')